* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Quicksand", serif;
  font-size: 16px;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: #11061C;
  color: #ffffff;
  line-height: 1.6;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  overflow: hidden;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #BB1818;
}

nav.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #11061c;
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 223;
}
nav.navbar .nav-logo {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav.navbar .nav-logo img {
  width: 2.5rem;
}
nav.navbar .nav-logo h3 {
  font-size: 24px;
  font-weight: 600;
  color: #BB1818;
  font-weight: bold;
  text-wrap: nowrap;
}
nav.navbar .nav-logo h3 span {
  color: #FF9355;
}
nav.navbar .nav-content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav.navbar .nav-content li {
  list-style: none;
  padding: 0 1rem;
}
nav.navbar .nav-content li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
nav.navbar .nav-content li a:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #BB1818;
}
nav.navbar .nav-content li a:active {
  color: #BB1818;
}
nav.navbar .nav-content .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30%;
}
nav.navbar .nav-content .extra a.btn {
  padding: 0 30px;
  color: white;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14.4px;
  min-width: 10rem;
  font-weight: 700 !important;
  border: 1px solid #BB1818;
  background: #BB1818;
  font-size: 17.6px;
}
nav.navbar .nav-content .extra a.btn:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #BB1818;
  color: #fff;
  -webkit-box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
}
@media (min-width: 1200px) {
  nav.navbar .nav-content .extra a.btn {
    font-size: 15.04px;
  }
}
nav.navbar .nav-content .extra .nav-trigger {
  display: none;
}

.sidebar {
  background-color: #11061C;
  width: 23.5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}
.sidebar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  gap: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sidebar .header .top-action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
  gap: 0.5rem;
}
.sidebar .header .top-action a.action-btn {
  text-decoration: none;
  color: #ffffff;
}
.sidebar .header .top-action a.action-btn.search {
  display: none;
}
.sidebar .header .top-action a.action-btn.nav-trigger {
  display: none;
}
.sidebar .header .top-action a.action-btn:hover span {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  color: #fff;
}
.sidebar .header .top-action a.action-btn span {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 32px;
}
.sidebar .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar .header .logo img {
  width: 100%;
}
.sidebar .header .logo h3 {
  font-size: 32px;
  font-weight: 400;
  font-family: "Dancing Script", cursive;
}
.sidebar .content {
  min-height: 40%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
}
.sidebar .content .close {
  display: none;
}
.sidebar .content .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.sidebar .content .nav-links li {
  list-style: none;
}
.sidebar .content .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 17.6px;
  text-transform: uppercase;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.sidebar .content .nav-links li:nth-child(1) a:hover {
  color: #FF9355;
}
.sidebar .content .nav-links li:nth-child(2) a:hover {
  color: #BB1818;
}
.sidebar .content .nav-links li:nth-child(3) a:hover {
  color: #404752;
}
.sidebar .content .nav-links li:nth-child(6) a:hover {
  color: #BB1818;
}
.sidebar .content .social-links {
  display: none;
}
.sidebar form {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  line-height: 1.8rem;
}
.sidebar form input {
  background: transparent;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid rgba(218, 217, 217, 0.5411764706);
  width: 100%;
  outline: none;
  color: #ffffff;
}
.sidebar form input::-webkit-input-placeholder {
  font-family: "montserrat", sans-serif;
}
.sidebar form input::-moz-placeholder {
  font-family: "montserrat", sans-serif;
}
.sidebar form input:-ms-input-placeholder {
  font-family: "montserrat", sans-serif;
}
.sidebar form input::-ms-input-placeholder {
  font-family: "montserrat", sans-serif;
}
.sidebar form input::placeholder {
  font-family: "montserrat", sans-serif;
}
.sidebar form span, .sidebar form i.bx {
  position: absolute;
  right: 2%;
  color: rgba(218, 217, 217, 0.5411764706);
  font-size: 27.2px;
}
.sidebar form .search-close {
  display: none;
}
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
  .sidebar .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0.3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar .header .top-action {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1rem;
    gap: 0.7rem;
  }
  .sidebar .header .top-action .favorite {
    display: none;
  }
  .sidebar .header .top-action a.search {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .sidebar .header .top-action a.nav-trigger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .sidebar .header .top-action a.nav-trigger span {
    font-weight: 200;
    font-size: 36.8px;
  }
  .sidebar .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem;
  }
  .sidebar .header .logo img {
    width: 50%;
  }
  .sidebar .header .logo h3 {
    font-size: 32px;
    text-wrap: nowrap;
  }
  .sidebar .content {
    position: absolute;
    min-height: 40%;
    height: 100vh;
    background: #000000;
    z-index: 223;
    width: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 25px;
    right: -60%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: none;
  }
  .sidebar .content.active {
    right: 0;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar .content .close {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0.5rem;
    cursor: pointer;
  }
  .sidebar .content .close span {
    font-weight: bold;
  }
  .sidebar .content .nav-links {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sidebar .content .nav-links li a {
    font-size: 20.8px;
    color: #706F73;
  }
  .sidebar .content .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
    margin-top: 15%;
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sidebar .content .social-links li {
    list-style: none;
  }
  .sidebar .content .social-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14.4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.3rem;
  }
  .sidebar .content .social-links li a i.bx {
    font-size: 32px;
  }
  .sidebar .content .social-links li:nth-child(1) a {
    color: #FF9355;
  }
  .sidebar .content .social-links li:nth-child(2) a {
    color: #BB1818;
  }
  .sidebar .content .social-links li:nth-child(3) a {
    color: #404752;
  }
  .sidebar form {
    position: absolute;
    height: 100vh;
    width: 60%;
    right: -60%;
    display: none;
    top: 0;
    background-color: #11061C;
    z-index: 223;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 10px 30px;
  }
  .sidebar form.active {
    right: 0%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .sidebar form input {
    width: 100%;
    border-bottom: none;
  }
  .sidebar form input:hover::-webkit-input-placeholder {
    opacity: 1;
  }
  .sidebar form input:hover::-moz-placeholder {
    opacity: 1;
  }
  .sidebar form input:hover:-ms-input-placeholder {
    opacity: 1;
  }
  .sidebar form input:hover::-ms-input-placeholder {
    opacity: 1;
  }
  .sidebar form input:hover::placeholder {
    opacity: 1;
  }
  .sidebar form input::-webkit-input-placeholder {
    opacity: 0.8;
  }
  .sidebar form input::-moz-placeholder {
    opacity: 0.8;
  }
  .sidebar form input:-ms-input-placeholder {
    opacity: 0.8;
  }
  .sidebar form input::-ms-input-placeholder {
    opacity: 0.8;
  }
  .sidebar form input::placeholder {
    opacity: 0.8;
  }
  .sidebar form i.bx {
    display: none;
  }
  .sidebar form .search-close {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0.5rem;
    cursor: pointer;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .sidebar form .search-close span {
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preloader .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
.preloader .content img {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 15px;
}
.preloader .spinner {
  width: 40px;
  height: 40px;
  position: relative;
}
.preloader .double-bounce1, .preloader .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
          animation: bounce 2s infinite ease-in-out;
}
.preloader .double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  /* Scrollbar styles */
}
.main::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
.main::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track (scroll area) */
}
.main::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb (the actual bar) */
  border-radius: 10px; /* Roundness of the scrollbar */
  border: 3px solid #f1f1f1; /* Padding around the thumb */
}
.main::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering over the scrollbar */
}
.main .overlay {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 20;
}
.main .overlay.side-actions-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(2px) !important;
          backdrop-filter: blur(2px) !important;
}
.main .home-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.main .home-section .overlay-bg {
  width: 100%;
  height: 100vh;
  background: #11061c;
  background: linear-gradient(103deg, rgba(17, 6, 28, 0.4941176471) 0%, rgba(17, 6, 28, 0.1725490196) 54%, rgba(17, 6, 28, 0.4941176471) 93%);
  z-index: 3;
  position: absolute;
}
.main .home-section video {
  width: 100vw;
  height: 83vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  top: 0;
}
.main .home-section .box-shade1 {
  width: 20%;
  position: absolute;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(17, 6, 28, 0.9647058824)), color-stop(44%, rgba(17, 6, 28, 0.9176470588)), color-stop(58%, rgba(17, 6, 28, 0.9176470588)), color-stop(70%, rgba(17, 6, 28, 0.7607843137)), to(rgba(17, 6, 28, 0.2392156863)));
  background: linear-gradient(90deg, rgba(17, 6, 28, 0.9647058824) 0%, rgba(17, 6, 28, 0.9176470588) 44%, rgba(17, 6, 28, 0.9176470588) 58%, rgba(17, 6, 28, 0.7607843137) 70%, rgba(17, 6, 28, 0.2392156863) 100%);
  z-index: 1;
}
.main .home-section .box-shade2 {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(17, 6, 28, 0.9647058824)), color-stop(44%, rgba(17, 6, 28, 0.9176470588)), color-stop(58%, rgba(17, 6, 28, 0.9176470588)), color-stop(70%, rgba(17, 6, 28, 0.7607843137)), to(rgba(17, 6, 28, 0.2392156863)));
  background: linear-gradient(360deg, rgba(17, 6, 28, 0.9647058824) 0%, rgba(17, 6, 28, 0.9176470588) 44%, rgba(17, 6, 28, 0.9176470588) 58%, rgba(17, 6, 28, 0.7607843137) 70%, rgba(17, 6, 28, 0.2392156863) 100%);
  z-index: 1;
}
.main .home-section .box-shade3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20vh;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(#11061c), color-stop(24%, #11061c), color-stop(58%, #11061c), color-stop(86%, rgba(17, 6, 28, 0.8470588235)), to(rgba(17, 6, 28, 0.0078431373)));
  background: linear-gradient(360deg, #11061c 0%, #11061c 24%, #11061c 58%, rgba(17, 6, 28, 0.8470588235) 86%, rgba(17, 6, 28, 0.0078431373) 100%);
  -webkit-box-shadow: 0 0 30px 3px rgba(17, 6, 28, 0.4196078431);
          box-shadow: 0 0 30px 3px rgba(17, 6, 28, 0.4196078431);
  background-blend-mode: overlay;
}
.main .home-section .box-shade {
  width: 20%;
  position: absolute;
  height: 100vh;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(#11061c), color-stop(24%, #11061c), color-stop(58%, #11061c), color-stop(86%, rgba(17, 6, 28, 0.8470588235)), to(rgba(17, 6, 28, 0.0078431373)));
  background: linear-gradient(90deg, #11061c 0%, #11061c 24%, #11061c 58%, rgba(17, 6, 28, 0.8470588235) 86%, rgba(17, 6, 28, 0.0078431373) 100%);
  -webkit-box-shadow: 0 0 30px 3px rgba(17, 6, 28, 0.4196078431);
          box-shadow: 0 0 30px 3px rgba(17, 6, 28, 0.4196078431);
  background-blend-mode: overlay;
}
.main .home-section .text-content {
  z-index: 4;
  position: relative;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.main .home-section .text-content h1 {
  color: #ffffff;
  font-size: 32px;
}
.main .home-section .text-content p {
  color: #ffffff;
  font-size: 17.6px;
  font-weight: 500;
  width: 60%;
}
.main .home-section .text-content span {
  color: #BB1818;
  margin-top: 2%;
  font-weight: bold;
}
.main .home-section .text-content h3 {
  margin-top: 2%;
  color: #ffffff;
}
.main .home-section .text-content a.btn {
  padding: 0 30px;
  color: white;
  background-color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14.4px;
  min-width: 10rem;
  padding: 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-weight: 700 !important;
  border: 1px solid #BB1818;
  background: #BB1818;
  font-size: 17.6px;
}
.main .home-section .text-content a.btn:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #BB1818;
  color: #fff;
  -webkit-box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
}
@media (min-width: 1200px) {
  .main .home-section .text-content a.btn {
    font-size: 15.04px;
  }
}
.main .home-section .text-content a.btn img {
  width: 27px;
}
.main .accreditations {
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #353535;
}
.main .accreditations .accreditation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.main .accreditations .accreditation span {
  color: white;
}
.main .accreditations .accreditation img {
  width: 37px;
}
.main .about-section {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .about-section .logo-section {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .about-section .logo-section img {
  width: 15rem;
}
.main .about-section .logo-section h4 {
  font-size: 17.6px;
}
.main .about-section .content-section {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .about-section .content-section p {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 17.6px;
}
.main .featured-services-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #BB1818;
  padding: 2rem 0;
}
.main .featured-services-section .left-section {
  width: 50%;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.main .featured-services-section .left-section h2 {
  color: white;
  font-size: 56px;
  font-weight: 400;
  margin-top: 0;
}
.main .featured-services-section .left-section h2 span {
  font-weight: bold;
}
.main .featured-services-section .left-section span.more {
  font-size: 17.6px;
  font-weight: 500;
}
.main .featured-services-section .right-section {
  width: 50%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.main .featured-services-section .right-section::-webkit-scrollbar {
  display: none;
}
.main .featured-services-section .right-section .drop-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
.main .featured-services-section .right-section .drop-card .left {
  width: 20%;
}
.main .featured-services-section .right-section .drop-card .left span {
  font-size: 48px;
  font-weight: normal;
}
.main .featured-services-section .right-section .drop-card .right {
  width: 80%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .featured-services-section .right-section .drop-card .right:hover .card-img {
  z-index: 0;
}
.main .featured-services-section .right-section .drop-card .right:hover .text-content {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  margin-top: 0 !important;
}
.main .featured-services-section .right-section .drop-card .right .card-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative;
}
.main .featured-services-section .right-section .drop-card .right .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .featured-services-section .right-section .drop-card .right .text-content {
  width: 100%;
  height: 150px;
  padding: 1rem 0;
  margin-top: -150px;
  position: relative;
  z-index: 3;
  background-color: #BB1818;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.main .featured-services-section .right-section .drop-card .right .text-content h3 {
  color: white;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.main .featured-services-section .right-section .drop-card .right .text-content h3 img {
  width: 32px;
}
.main .featured-services-section .right-section .drop-card .right .text-content p {
  font-weight: 500;
  font-size: 17.6px;
}
.main .featured-services-section .right-section hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem;
  background: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.425);
  width: 95%;
}
.main .contact-section {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
.main .contact-section h3 {
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  padding: 1rem;
}
.main .contact-section span {
  font-size: 17.6px;
  font-weight: 400;
  color: #ffffff;
}
.main .contact-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main .contact-section form .left-section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main .contact-section form .left-section label {
  font-size: 17.6px;
  font-weight: 500;
  color: #ffffff;
  margin: 0.5rem 0;
}
.main .contact-section form .left-section input {
  width: 100%;
  padding: 0.6rem 0.7rem;
  border: 1px solid rgba(218, 217, 217, 0.5411764706);
  border-radius: 5px;
  margin: 0.2rem 0;
  outline: none;
}
.main .contact-section form .left-section input::-webkit-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .left-section input::-moz-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .left-section input:-ms-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .left-section input::-ms-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .left-section input::placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .left-section .check-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.main .contact-section form .left-section .check-div label {
  margin: 0;
  font-size: 12.8px;
}
.main .contact-section form .left-section .check-div label a {
  color: #BB1818;
  font-weight: 500;
  margin-left: 0.2rem;
}
.main .contact-section form .left-section .check-div input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main .contact-section form .left-section button.btn {
  padding: 0 30px;
  color: #11061c;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  text-wrap: nowrap;
  border-radius: 3px;
  font-size: 14.4px;
  width: 30%;
  line-height: normal;
  border: none;
  padding: 0.8rem;
  margin-top: 1rem;
  gap: 0.5rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}
.main .contact-section form .left-section button.btn:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #BB1818;
  color: #fff;
  -webkit-box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 40px 5px rgba(255, 255, 255, 0.3);
}
@media (min-width: 1200px) {
  .main .contact-section form .left-section button.btn {
    font-size: 15.04px;
  }
}
.main .contact-section form .left-section button.btn i.bx {
  font-size: 19.2px;
}
.main .contact-section form .right-section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main .contact-section form .right-section label {
  font-size: 17.6px;
  font-weight: 500;
  color: #ffffff;
  margin: 0.5rem 0;
}
.main .contact-section form .right-section textarea {
  width: 100%;
  height: 43%;
  padding: 0.6rem 0.7rem;
  border: 1px solid rgba(218, 217, 217, 0.5411764706);
  border-radius: 5px;
  margin: 0.2rem 0;
  outline: none;
}
.main .contact-section form .right-section textarea::-webkit-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .right-section textarea::-moz-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .right-section textarea:-ms-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .right-section textarea::-ms-input-placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .right-section textarea::placeholder {
  color: rgba(17, 6, 28, 0.6235294118);
}
.main .contact-section form .right-section p {
  font-size: 12.8px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1rem;
}
.main .contact-section form .right-section p a {
  color: #BB1818;
  font-weight: 500;
  text-decoration: none;
  text-wrap: nowrap;
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}
.main footer.footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #11061C;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main footer.footer .content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main footer.footer .content .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10%;
}
.main footer.footer .content .logo img {
  width: 100%;
}
.main footer.footer .content .logo span {
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  color: #BB1818;
}
@media (min-width: 1200px) {
  .main footer.footer .content .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0;
  }
}
.main footer.footer .content .tab-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
  padding: 8%;
  font-family: "Montserrat", sans-serif;
}
.main footer.footer .content .tab-links a {
  color: #fff;
  font-size: 11.2px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.3rem;
  text-decoration: none;
}
.main footer.footer .content .tab-links a:hover {
  color: #b1b1b1;
}
@media (min-width: 1200px) {
  .main footer.footer .content .tab-links {
    gap: 20px;
    padding: 10%;
  }
}
@media (min-width: 1200px) {
  .main footer.footer .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50vh;
  }
  .main footer.footer .content .logo {
    width: 50%;
  }
  .main footer.footer .content .tab-links {
    width: 50%;
  }
}
.main footer.footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 12.96px;
  font-weight: 300;
  padding: 5% 0;
  margin-bottom: 5rem;
}
@media (min-width: 1200px) {
  .main footer.footer p {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */