// Colors
//7122CA
//18082C
$primary-color: #BB1818;
$secondary-color: #FF9355;
$tertiary-color: #404752;

$font-color:#000000;
$font-color-accent: #706F73;

$bg-color: #FEFFFE;
 
$black: #000000;
$white: #fff;

// Fonts
$base-font-size: 16px;
$font-family: "Quicksand", serif;


// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
