// main.scss

// Import variables, mixins, and base styles
@import 'variables';
@import 'mixins';
@import 'base';

// Additional component styles go here
nav.navbar{
    width: 100%;
    display: flex;
    height: 15vh;
    box-sizing: border-box;
    // background: #11061c;
    background: transparent;
    padding: 0 1rem;
    justify-content: space-between;
    position: absolute;
    
    // top: 0;
    z-index: 223;
    .nav-logo{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img{
            width: 2.5rem;
        }
        h3{
            font-size: $base-font-size * 1.5;
            font-weight: 600;
            color: $primary-color;
            font-weight: bold;
            text-wrap: nowrap;
            span{
                color: $secondary-color;
            }
        }
    }
    .nav-content{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        li{
            list-style: none;
            padding: 0 1rem;
            
            a{
                text-decoration: none;
                color: $font-color;
                font-weight: 600;
                font-size: $base-font-size * 1;
                &:hover{
                    transition: .3s ease;
                    color: $primary-color;
                }
                &:active{
                    color: $primary-color;
                }
            }
        }
        .extra{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 30%;
           
            a.btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 700 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size * 1.1;
            }
            .nav-trigger{
                display: none;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        height: 10vh;
       
        width: 100%;
        box-sizing: border-box;
        padding: 0 0.5rem;
        // justify-content: space-around;
        .nav-logo{
            
            width:fit-content;
            padding: .5rem;
            img{
                width: 4.5rem;
            }
            h3{
                display: none;
            }
        }
        .nav-content li, .nav-content .btn{
            display: none;
        }

        .nav-content{
           
            width: fit-content;
            box-sizing: border-box;
            justify-content: flex-end;
            .extra{
                width:fit-content;
               

            }
        }
        .nav-trigger{
            width: 4rem;
            box-sizing: border-box;
            padding: .8rem;
            height: 4rem;
            
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.active{
                span{
                    border-radius: 5px;
                    width: 60%;
                    height: 10%;
                    background:$primary-color;
                    display: flex;
                    align-self: flex-end;
                    margin: .2rem;
                    transition: .4s ease;
                    &:nth-child(1){
                        width: 110%;
                        transform: rotate(41deg) translate(25%,80%);
                        
                    }
                    &:nth-child(2){
                        width: 75%;
                        transform: rotate(-40deg) translate(25%,-50%);
                        background: $primary-color;
                    }
                    &:nth-child(3){
                        width: 50%;
                        background: $primary-color;
                        transform: rotate(-41deg) translate(-45%,-345%);
                    }
                    
                }
            }
            span{
                border-radius: 5px;
                width: 60%;
                height: 10%;
                background: $primary-color;
                display: flex;
                align-self: flex-end;
                margin: .2rem;
                transition: .4s ease;
                position: relative;
                &:nth-child(1){
                    width: 100%;
                }
                &:nth-child(2){
                    width: 75%;
                    background: $secondary-color;
                   
                }
                &:nth-child(3){
                    width: 45%;
                    background: white;
                    
                }
                
            }
        }
    }
}
.sidebar{
        position:fixed;
        height: calc(100% - 10vh);
        width:60%;
        bottom: 0;
        right: -60%;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition:all 0.5s ease;
        z-index: 999;
        font-family: "Quicksand";
        &.active{
            right: 0;
        }
        .nav_list{
         
            width: fit-content;
            height: 70%;
            align-items: center;
            justify-content: space-around;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            .btn{
                @include button-style($white, white);
                min-width: 10rem;
                font-weight: 700 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size * 1.1;
                padding: 1rem;
            }
            li{
                list-style: none;
                transition: all .4s ease;
                
                a{
                    text-decoration: none;
                    color: $font-color;
                    transition: all .4s ease;
                    font-size: .95em;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    font-weight: 600;
                    &:hover{
                        color: $primary-color;
                    }
                    span{
                        color: $primary-color;
                    }
                }
                
                a.active{
                    color: $font-color;
                    font-weight: 600;
                }
            }
        }
        .socials{
            width: 100%;
            position: relative !important;
            margin-top: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 25px;
            flex-wrap: wrap;
           
            a{
                text-decoration: none;
                color: var(--text-color);
                transition: all .4s ease;
                i.bx{
                    font-size: 1.6em;
                }
                &:hover{
                    transform: translateY(-15%);
                    color: $primary-color;
                   
                }
            }
            a.active{
                color: $primary-color;
            }
        }

}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        img {
            width: 200px;
            margin-bottom: 20px;
            margin-left: 15px;
        }
    }

    

    .spinner {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        animation-delay: -1.0s;
    }

    @keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

}

.main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    
   
    
    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the track (scroll area) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb (the actual bar) */
        border-radius: 10px; /* Roundness of the scrollbar */
        border: 3px solid #f1f1f1; /* Padding around the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color when hovering over the scrollbar */
    }

    .overlay{
        width: 100%;
        height: 100%;
        
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        &.side-actions-active{
            display: flex !important;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px) !important;
           
            
        }
    }
    
    .home-section{
        flex-grow: 1;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
       
        position: relative;
        overflow:hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    
       
    
        .overlay-bg{
            width: 100%;
            height: 100vh;
            background: #11061c;
            background: linear-gradient(103deg, #11061c7e 0%, #11061c2c 54%, #11061c7e 93%);
            z-index: 3;
            
            position: absolute;
        }
        video{
            width: 100vw;
            height: 83vh;
            object-fit: cover;
            background-position: center;
            position: absolute;
            z-index: -1;
            box-sizing: border-box;
            transform: translateX(15%);
            top: 0;
            
            
        }
        .box-shade1{
            width: 20%;
            position: absolute;
           
            height: 100vh;

            background: linear-gradient(90deg, #11061cf6 0%,
                                               #11061cea 44%, 
                                               #11061Cea 58%, 
                                               #11061cc2 70%,
                                               #11061c3d 100%);
            z-index: 1;
        }
        .box-shade2{
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 20vh;

            background: linear-gradient(360deg,  #11061cf6 0%,
            #11061cea 44%, 
            #11061Cea 58%, 
            #11061cc2 70%,
            #11061c3d 100%);
            z-index: 1;
           
        }
        .box-shade3{
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 20vh;
            z-index: 2;
            background: linear-gradient(360deg, #11061c 0%, 
            #11061c 24%,
            #11061c 58%, 
            #11061cd8 86%, 
            #11061c02 100%);
            box-shadow: 0 0 30px 3px #11061c6b;
            background-blend-mode: overlay;
        }
        .box-shade{
            width: 20%;
            position: absolute;
          
            height: 100vh;
            z-index: 2;
            background: linear-gradient(90deg, #11061c 0%, 
            #11061c 24%,
            #11061c 58%, 
            #11061cd8 86%, 
            #11061c02 100%);
            box-shadow: 0 0 30px 3px #11061c6b;
            background-blend-mode: overlay;
        }
        .text-content{
            
            z-index: 4;
            position: relative;
            bottom: 0;
            width: 100%;
            height: fit-content;
            padding: 2%;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h1{
                color: $font-color;
                font-size: $base-font-size * 2;
            }
            p{
                color: $font-color;
                font-size: $base-font-size * 1.1;
                font-weight: 500;
                width: 60%;
            }
            span{
                color: $primary-color;
                margin-top: 2%;
                font-weight: bold;
               
            }
            h3{
                margin-top: 2%;
                color: $font-color;
            }
            a.btn{
                @include button-style($white, white);
                min-width: 10rem;
                padding:0 $padding-base * 2;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                font-weight: 700 !important;
                border: 1px solid $primary-color;
                background: $primary-color;
                font-size: $base-font-size * 1.1;
                img{
                    width: 27px;
                }
            }
        }


        @media (max-width: $breakpoint-mobile) {
            width: 100%;
           
            .box-shade, .box-shade1{
                display: none;

            }
            video{
                transform: translateX(0);
            }
            .text-content{
                padding: 1rem;
               
                p{
                    width: 100%;
                }
            }
        }
    }
    
    .accreditations{
        width: 100%;
        height: 12vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        //Find better background
        background: #353535;
        .accreditation{
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0 1rem;
            span{
                color: white;
            }
            img{
                width: 37px;
            }
        }

        @media (max-width: $breakpoint-mobile){
            
            .accreditation{
                
                span{
                    display: none;
                }
                img{
                    width: 3rem;
                }
            }
        }
        
    }
    
    .about-section{
        width: 100%;
        height: 50vh;
       
        display: flex;
        align-items: center;
        box-sizing: border-box;
        .logo-section{
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            img{
                width: 15rem;
            }
            h4{
                font-size: $base-font-size * 1.1;
            }
        }
        .content-section{
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
           
            box-sizing: border-box;
            p{
                margin: .5rem 0;
                font-weight: 500;
                font-size: $base-font-size * 1.1;
            }
        }

        @media (max-width: $breakpoint-mobile){
            flex-direction: column;
            height: fit-content;
            .logo-section{
                width: 100%;
               
               

            }
            .content-section{
                width: 100%;
                padding-top: 0;
            }

        }
    }

    .featured-services-section{
        width: 100%;
        min-height: 100vh;
        height: fit-content;
        display: flex;
        box-sizing: border-box;
        background: $primary-color;
        padding: 5% 0;
        position: relative;
        .left-section{
            width: 50%;
            
            position: relative;
            padding:0 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .content{
                width: 100%;
                position: sticky;
                top: 20%;
                bottom: 20%;
                h2{
                    color: white;
                    font-size: $base-font-size * 3.5;
                    font-weight: 400;
                    margin-top: 0;
                    span{
                        font-weight: bold;
                    }
                }
                span.more{
                    font-size: $base-font-size * 1.1;
                    font-weight: 500;
                }
                .btn{
                    display: flex;
                    background: white;
                    width: fit-content;
                    padding: .8rem 1rem;
                    border-radius: 5px;
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: 600;
                    margin-top: 1rem;
                }
            }

        }
        .right-section{
            width: 50%;
            height: 100%;
            overflow: hidden;
           
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            position: relative;
            &::-webkit-scrollbar {
                display: none;
            }
        
           
            .drop-card{
                box-sizing: border-box;    
                width: 100%;
                display: flex;
                padding: 1rem;
                .left{
                    width: 20%;
                    span{
                        font-size: $base-font-size * 3;
                        font-weight: normal;
                    }
                }
                .right{
                    width: 80%;
                    position: relative;
                    box-sizing: border-box;
                  
                    &:hover{
                        .card-img{
                            z-index: 0;
                        }
                        .text-content{
                            transition: .4s ease;
                            margin-top: 0 !important;
                        }
                    }
                    .card-img{
                        width: 100%;
                        //box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.164);
                        height: 150px;
                        overflow: hidden;
                        border-radius: 20px;
                        transition: .4s ease;
                        //z-index: -1;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                          
                            object-fit: cover;

                        }
                    }
                    .text-content{
                        width: 100%;
                        height: 150px;
                        padding: 1rem 0;
                        margin-top: -150px;
                        position: relative;
                        z-index: 3;
                        background-color: $primary-color;
                        transition: .4s ease;
                        h3{
                            color: white;
                            font-size: $base-font-size * 1.5;
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            img{
                                width: 32px;
                            }
                        }
                        p{
                            font-weight: 500;
                            font-size: $base-font-size * 1.1;
                        }
                    }
                }
            }
            hr{
                box-sizing: border-box;
                margin: 1rem;
                background: transparent !important;
                border: 1px solid rgba(255, 255, 255, 0.425);
              
                width: 95%;

                
            }

        }

        @media (max-width: $breakpoint-mobile){
            flex-direction: column;
            .left-section{
                width: 100%;
                .content h2{
                    text-align: center;
                }
            }
            .right-section{
                width: 100%;
                .drop-card{
                    pointer-events: none;
                }

                .drop-card .right .card-img{
                    visibility: hidden;
                }
                .drop-card .right .text-content{
                    background: transparent;
                }
            }
        }
    }
    
    .contact-section{
        width: 100%;
        box-sizing: border-box;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        h3{
            font-size: $base-font-size * 3;
            font-weight: 500;
            color: $font-color;
            margin: 0;
            padding: 1rem;
        }
        span{
            font-size: $base-font-size * 1.1;
            font-weight: 400;
            color: $font-color;
        }
        form{
            display: flex;
            align-items: center;
            width: 90%;
            height: fit-content;
            flex-wrap: wrap;
            box-sizing: border-box;
            .left-section{
              
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 2%;
                align-items: flex-start;
                label{
                    font-size: $base-font-size * 1.1;
                    font-weight: 500;
                    color: $font-color;
                    margin: .5rem 0;
                }
                input{
                    width: 100%;
                    padding: .6rem .7rem;
                    border: 1px solid #dad9d98a;
                    border-radius: 5px;
                    margin: .2rem 0;
                    outline: none;
                    &::placeholder{
                        color: #11061c9f;
                    }
                }
                .check-div{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                   
                    gap: .5rem;
                    margin-top: 1rem;
                    label{
                        margin: 0;
                        font-size: $base-font-size * 0.8;
                        a{
                            color: $primary-color;
                            
                            font-weight: 500;
                            margin-left: .2rem;
                        }
                    }
                    input{
                        width: fit-content;
                    }
                }
                
            }
            .right-section{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding: 2%;
                align-items: flex-start;
                label{
                    font-size: $base-font-size * 1.1;
                    font-weight: 500;
                    color: $font-color;
                    margin: .5rem 0;
                }
                textarea{
                    width: 100%;
                    height: 43%;
                    padding: .6rem .7rem;
                    border: 1px solid #dad9d98a;
                    border-radius: 5px;
                    margin: .2rem 0;
                    outline: none;
                    &::placeholder{
                        color: #11061c9f;
                    }
                   
                }
                p{
                    font-size: $base-font-size * 0.8;
                    font-weight: 500;
                    color: $font-color;
                    margin-top: 1rem;
                    a{
                        color: $primary-color;
                        font-weight: 500;
                        text-decoration: none;
                        text-wrap: nowrap;
                    }
                }
            }
            button.btn{
                @include button-style(white, #11061c);
                width: 15%;
                line-height: normal;
                border: none;
                padding: .8rem;
                margin: 2%;
                margin-top: 0rem;
                gap: .5rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                cursor: pointer;
                i.bx{
                    font-size: $base-font-size * 1.2;
                }
            }
        }

        @media (max-width: $breakpoint-mobile){
            height: fit-content;
            h3{
                font-size: $base-font-size * 2.5;
            }
            form{
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
                
                .left-section, .right-section{
                    width: 100%;
                }
                button.btn{
                    width: fit-content;
                }
            }
        }

    }

    //About Page
    .about-landing{
        width: 100%;
        height: 80vh;
        
        position: relative;
      
        box-sizing: border-box;
        .bg-image{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }
        .content{
            z-index: 3;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            justify-content: center;
            
            padding: 5%;
            img{
                background: #11061c;
                width: 10.5rem;
                height: 10rem;
                border-radius: 100px 100px;
            }
            h3{
                font-size: $base-font-size * 1.7;
                color: $font-color;
                font-weight: 500;
                text-align: center;
                margin-top: 1rem;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .story-section{
        width: 100%;
        height: fit-content;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            font-size: $base-font-size * 2;
            font-weight: 700;
            color: $secondary-color;
            margin: 1rem 0;
        }
        p{
            text-align: center;
            font-size: $base-font-size * 1.5;
            margin: 1rem 0;
            font-weight: 500;
        }
        span{
            font-size: $base-font-size * 1.5;
            font-weight: 600;
            color: $secondary-color;
        }
        
        @media (max-width: $breakpoint-mobile){
            p{
                font-size: $base-font-size * 1.4;
            }
        }
    }
    .missvis-section{
        background: #231531;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        .mission-section, .vision-section{
            width: 50%;
            height: fit-content;
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #231531;
            h2{
                font-size: $base-font-size * 2;
                font-weight: 700;
                color: $secondary-color;
                margin: 1rem 0;
            }
            p{
                text-align: center;
                font-size: $base-font-size * 1.5;
                margin: 1rem 0;
                font-weight: 500;
            }
            span{
                font-size: $base-font-size * 1.5;
                font-weight: 600;
                color: $secondary-color;
            }
        }
        .values-section{
            width: 100%;
            height: fit-content;
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: $base-font-size * 2;
                font-weight: 700;
                color: $secondary-color;
                
                margin-bottom: 1rem;
            }
            p{
                text-align: start;
                font-size: $base-font-size * 1.5;
                margin: 1rem 0;
                font-weight: 500;
            }
            span{
                font-size: $base-font-size * 1.5;
                font-weight: 600;
                color: $secondary-color;
            }
            
        }

        @media (max-width: $breakpoint-mobile){
            .mission-section, .vision-section, .values-section{
                width: 100%;
                p{
                    font-size: $base-font-size * 1.4;
                }

            }
        }
        }

    .team-section{
        width: 100%;
       
        
        h2{
            font-size: $base-font-size * 2;
            font-weight: 700;
            color: $secondary-color;
            margin: 1rem 0;
            text-align: center;
        }
        .card-container{
            display: flex;
            width: 100%;
            padding: 1rem;
            flex-wrap: wrap;
            gap: 1rem;
            align-items: center;
            justify-content: space-evenly;
            .card{
                width: 350px;
                height: 550px;
                box-sizing: border-box;
                border-radius: 20px;
                position: relative;
                overflow: hidden;
                box-shadow: 0px 0px 3px 5px #23153159;
                background: rgb(17,6,28);
                background: linear-gradient(180deg, rgba(17,6,28,1) 0%, rgba(17,6,28,1) 54%, rgba(49,30,69,1) 85%);
                &:hover{
                    .content{
                        background: #231531;
                        transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        height: 100%;
                        top: 0;
                    }
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    z-index: 0;
                    box-sizing: border-box;
                    background: linear-gradient(180deg, rgba(17,6,28,1) 0%, rgba(17,6,28,1) 54%, rgba(49,30,69,1) 85%);
                }
                .content{
                    position: relative;
                    top: 83%;
                    bottom: 0;
                    margin-top: auto;
                    width: 100%;
                    padding: .5rem;
                    height: 15%;
                   
                    overflow: hidden;
                    box-sizing: border-box;
                    h3{
                        font-size: $base-font-size * 1.7;
                        font-weight: 700;
                        color: $font-color;
                    }
                    span{
                        font-size: $base-font-size * 1.1;
                        color: $secondary-color;
                        font-weight: 600;
                    }
                    p{
                        font-size: $base-font-size * 0.85;
                    }
                }
            }
        }
    }
   
    
    
   
    footer.footer{
        width: 100%;
        background-color: $bg-color;
        padding:2% 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        hr{
            border: none;
            background: rgba(255, 255, 255, 0.137);
            height: 1px;
            margin: 2% 0;
        }
        .footer-content{
            display: flex;
            align-items: center;
            .left-section{
                width: 100%;
                display: flex;
                flex-direction: column;
                img{
                    width: 5rem;
                }
                h3{
                    font-size: $base-font-size * 1.3;
                    font-weight: 500;
                    color: $secondary-color;
                    margin: 1rem 0;
                    span{
                        color: $primary-color;
                    }
                }
                .divided-section{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    p{
                        color: $font-color;
                        a{
                            color: $font-color;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                text-underline-position: under;
                            }
                        }
                    }
                    div{
                        display: flex;
                        gap: 1rem;
                        a{
                            color: $font-color;
                            text-decoration: none;
                            font-weight: 500;
                            transition: .3s ease;
                            &:hover{
                                
                                color: $primary-color;
                            }
                            i.bx{
                                font-size: $base-font-size * 1.5;
                            }
                        }
                    }
                }
            }
        }
        
        @media (max-width: $breakpoint-mobile) {
            .footer-content{
                .left-section .divided-section{
                   
                    flex-direction: column;
                    div{
                        display: none;
                    }
                }
            }
        }
    }
}

